body{
	margin: 0;
	padding: 0;
}
.c1{
	width: 40%;
	background-color: #D5D2CB ;
	padding: 30px;
	margin-top: 0px;
	height: 360px;
}
.l{
	font-family: corbel;
	font-size: 20px;
}
.i{
	background-color: white;
	border: none;
	padding: 5px;
	width: 50%;
}
.b{
	padding: 10px;
	font-family: corbel;
	font-size: 20px;
}
.img{
	width: 60%;
	height: 420px;
	float: right;
	top: 130px;
	background-image: url('employer.jpg');
	background-size: cover;
}
.img a{
	font-size: 50px;
	font-family: corbel;
	color: white;
	margin-top: 150px;
	margin-left: 500px;
	float: right;
}